body{
    font-family: 'Poppins', sans-serif;
    
}
.banner{
    width: 1400px;
    height: 600px;
    background-image: url(./donation5.jpg);
}
.section-div{
    text-align: center;
    padding: 200px;
}
.section-div h1{
    font-size: 60px;
    color: aliceblue;
}
.section-div p{
    font-size: 20px;
    color: beige;
}
.section-div a{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.donate-money{
    text-align: center;
}
.donate-money h1{
    font-size: 50px;
    color:green;
}
.donate-money ul li{
    display: inline-block;
    padding-left: 25px;
    font-size: 30px;
}
.help{
    border: 3px solid tomato;
    padding: 10px 5px 10px 5px;
    
    
}
.input-area{
    margin-bottom: 25px;
}
.donate-money a{
    text-decoration: none;
    background-color: tomato;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
.planning{
    margin-top: 50px;
}
.donate-plane{
    text-align: center;
}
.basic-things{
    width: 1400px;
    display: flex;
    justify-content: center;
}
.family h2{
color: darkolivegreen;
}
.shelter h2{
    color: cadetblue;
}
.education h2{
    color:rgb(124, 13, 13)
}
.famine{
    display: flex;
}
.famine h2{
    text-align: center;
    margin-top: 30px;
    color: rgb(16, 64, 64);
}
.famine p{
    text-align: center;
    justify-content: center;
    
}
.famine-div1{
    width: 50%;
}
.famine-div1 img{
    width: 80%;
    border: 3px dotted mediumseagreen;
    margin-top: 30px;
}
.famine-div2{
    width: 50%;
}
.famine-div2 a{
    text-decoration: none;
    background-color: tomato;
    color: white;
    margin-left: 200px;
    padding: 10px;
    border-radius: 5px;
}
.update h1{
    font-size: 50px;
}
.inside{
    background-color: tomato;
    padding: 10px 30px;
}
.input-idea{
    margin-top: 50px;
}
.update{
    text-align: center;
    margin-top: 50px;
}
footer{
background-color: black;
}
footer h1{
    text-align: center;
    padding: 15px;
    color: tomato;
}
footer p{
    text-align: center;
    padding: 15px;
    color: azure;
}


