body{
    font-family: 'Poppins', sans-serif;
    
}
.banner{
    width: 1400px;
    height: 600px;
    background-image: url(./donation5.jpg);
}
.section-div{
    text-align: center;
    padding: 200px;
}
.section-div h1{
    font-size: 60px;
    color: aliceblue;
}
.section-div p{
    font-size: 20px;
    color: beige;
}
.section-div a{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.donate-money{
    text-align: center;
}
.donate-money h1{
    font-size: 50px;
}
.donate-money ul li{
    display: inline-block;
    padding-left: 25px;
    font-size: 30px;
}
.help{
    border: 3px solid tomato;
    padding: 10px 5px 10px 5px;
    
    
}
.input-area{
    margin-bottom: 25px;
}
.donate-money a{
    text-decoration: none;
    background-color: tomato;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
.planning{
    margin-top: 50px;
}
.donate-plane{
    text-align: center;
}
.basic-things{
    width: 1400px;
    display: flex;
    justify-content: center;
}
.family h2{
color: darkolivegreen;
}
.shelter h2{
    color: cadetblue;
}
.education h2{
    color:rgb(124, 13, 13)
}


